<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEditController</servlet-name>
        <servlet-class>controller.ConfirmEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartcontroller</servlet-name>
        <servlet-class>controller.UpdateCartcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>controller.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controller.EditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEditController</servlet-name>
        <url-pattern>/ConfirmEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartcontroller</servlet-name>
        <url-pattern>/UpdateCartcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
